<div class="container p-4 flex flex-col items-center bg-white">
  <button 
  (click)="closeDialog()" 
  class="absolute top-2 right-5 text-gray-500 hover:text-gray-700"
>
  <fa-icon [icon]="closeIcon" class="text-xl"></fa-icon>
</button>
  <img src="assets/fishing-pole.svg" alt="Fish Register" class="h-32 mt-2">
  <h2 class="text-lg font-bold mb-8">Add catch</h2>

  <form [formGroup]="catchForm" (ngSubmit)="addItem()" class="mb-5">
    
    <!-- Välj fiskart -->
    <mat-form-field class="w-full">
      <mat-label>Fiskart</mat-label>
      <mat-select formControlName="fishType" required panelClass="custom-overlay-panel">
        <mat-option *ngFor="let fish of availableFishes" [value]="fish">
          {{ fish }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Viktinput -->
    <mat-form-field class="w-full">
      <mat-label>Vikt (kg)</mat-label>
      <input
        matInput
        type="number"
        formControlName="weight"
        required
        placeholder="Vikt i kg"
      />
    </mat-form-field>

    <!-- Knappar -->
    <div class="mt-5">
      <button 
        mat-flat-button 
        type="submit" 
        class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600"
      >
        Add
      </button>
    </div>
  </form>
</div>
