<div class="container p-4 flex flex-col items-center bg-white">
  <img src="/fish-register-catch.svg" alt="Fish Register" class="h-32 mt-4">
  <h2 class="text-lg font-bold mb-8">Lägg till en fångst</h2>
  <form (ngSubmit)="addItem()" class="mb-5">
    <input
      [(ngModel)]="fiskArt"
      name="Fiskart"
      placeholder="Fiskart"
      class="border p-2 rounded w-full mb-2"
    />
    <input
      [(ngModel)]="vikt"
      name="Vikt"
      placeholder="Vikt"
      class="border p-2 rounded w-full mb-2"
    />
    <div class="flex justify-end gap-4 mt-4">
      <button mat-flat-button type="submit" class="bg-orange-500 text-white px-4 py-2 rounded">Lägg till</button>
      <button mat-flat-button type="button" (click)="closeDialog()" class="bg-gray-500 text-white px-4 py-2 rounded">Avbryt</button>
    </div>
  </form>
</div>