@if (errorMessage) {
<div>{{ errorMessage }}</div>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col w-[100%] gap-2">
  <mat-form-field>
    <mat-label class="text-sm">Enter your email</mat-label>
    <input
      matInput
      type="text"
      placeholder="Email"
      formControlName="email"
      class="w-[80%]"
    />
    @if (showErrorMessage('email', 'required')) {
      <mat-error class="ml-[-1%] text-sm">
        Email is required
      </mat-error>
    }

    @if (showErrorMessage('email', 'email')) {
      <mat-error class="ml-[-1%] text-sm">
        Not a valid email
      </mat-error>
    }

  </mat-form-field>
  <mat-form-field>
    <mat-label class="text-sm">Enter your password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    @if (showErrorMessage('password', 'required')) {
      <mat-error class="ml-[-1%] text-sm" >
        Password is required.
      </mat-error>
    }

  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="isLoading() | async" class="custom-button mt-[5%]">
    <mat-spinner *ngIf="isLoading() | async" [diameter]="20"></mat-spinner>
    <span *ngIf="!(isLoading() | async)">Sign in</span>
  </button>

  <div class="relative flex justify-center my-4">
    <span class="mx-4 text-sm" style="color: rgb(94, 108, 132);">
      Eller fortsätt med
    </span>
  </div>

  <button mat-flat-button (click)="onGoogleLogin()" [disabled]="isLoading() | async" class="custom-button">
    <mat-spinner *ngIf="isLoading() | async" [diameter]="20"></mat-spinner>
    <fa-icon class="mr-3" [icon]="faGoogle"></fa-icon>
    <span *ngIf="!(isLoading() | async)">Google</span>
  </button>
  
</form>

