@if (errorMessage) {
<div>{{ errorMessage }}</div>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col w-[100%] gap-2">
  <mat-form-field>
    <mat-label class="text-sm">Enter your email</mat-label>
    <input
      matInput
      type="text"
      placeholder="Email"
      formControlName="email"
      class="w-[80%]"
    />
    @if (showErrorMessage('email', 'required')) {
      <mat-error class="ml-[-1%] text-sm">
        Email is required
      </mat-error>
    }

    @if (showErrorMessage('email', 'email')) {
      <mat-error class="ml-[-1%] text-sm">
        Not a valid email
      </mat-error>
    }

  </mat-form-field>
  <mat-form-field>
    <mat-label class="text-sm">Enter your password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    @if (showErrorMessage('password', 'required')) {
      <mat-error class="ml-[-1%] text-sm" >
        Password is required.
      </mat-error>
    }

  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="isFormLoading() | async" class="custom-button mt-[5%]">
    <mat-spinner *ngIf="isFormLoading() | async" [diameter]="20"></mat-spinner>
    <span *ngIf="!(isFormLoading() | async)">Sign in</span>
  </button>
</form>

<div class="relative flex justify-center my-4">
  <span class="mx-4 text-sm" style="color: rgb(94, 108, 132);">
    Eller fortsätt med
  </span>
</div>

<button mat-flat-button (click)="onGoogleLogin($event)" [disabled]="isGoogleLoading() | async" class="custom-button w-[100%]">
  @if (isGoogleLoading() | async) {
    <mat-spinner [diameter]="20"></mat-spinner>
  } @else {
    <fa-icon class="mr-3" [icon]="faGoogle"></fa-icon>
    <span>Google</span>
  }
</button>

