<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col w-[100%] gap-1">

  <mat-form-field>
    <mat-label class="text-sm">Enter username</mat-label>
    <input
      matInput
      type="username"
      placeholder="Username"
      formControlName="username"
    />
    @if (showErrorMessage('username', 'required')) {
      <mat-error class="ml-[-1%] text-sm" >
        Username is required.
      </mat-error>
    }

  </mat-form-field>
  <mat-form-field>
    <mat-label class="text-sm">Enter email</mat-label>
    <input
      matInput
      type="text"
      placeholder="Email"
      formControlName="email"
      class="w-[80%]"
    />
    @if (showErrorMessage('email', 'required')) {
      <mat-error class="ml-[-1%] text-sm">
        Email is required
      </mat-error>
    }

    @if (showErrorMessage('email', 'email')) {
      <mat-error class="ml-[-1%] text-sm">
        Not a valid email
      </mat-error>
    }

  </mat-form-field>
  <mat-form-field>
    <mat-label class="text-sm">Enter password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    @if (showErrorMessage('password', 'required')) {
      <mat-error class="ml-[-1%] text-sm" >
        Password is required.
      </mat-error>
    }

  </mat-form-field>
  <div class="flex justify-center w-full">
    <button mat-flat-button type="submit" [disabled]="spinnerService.isLoading$ | async" class="w-[100%] custom-button mt-[5%]">
      <mat-spinner *ngIf="isLoading() | async" [diameter]="20"></mat-spinner>
      <span *ngIf="!(isLoading() | async)">Register</span>
    </button>
  </div>
  <!-- Success message -->
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Error message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
 
</form>