:host {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  ::ng-deep {
    .leaflet-popup {
      margin-bottom: 0;
    }

    .leaflet-popup-content-wrapper {
      padding: 0;
      border-radius: 8px;
      overflow: visible;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .leaflet-popup-content {
      margin: 0;
      width: 300px !important;
    }

    .leaflet-popup-tip-container {
      display: none;
    }

    .fish-marker {
      filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1));
    }
  }