<div id="map" class="h-full w-full">
  <div class="filter-container">
    <button class="filter-button" *ngIf="showFilterButton" (click)="onFilterClick()">
      <fa-icon [icon]="filterIcon"></fa-icon>
    </button>
    <div class="filter-status" *ngIf="currentFilter && showFilterButton">
      <div class="filter-info">
        <span class="filter-text">{{ getMonthName(currentFilter.startMonth) }} - {{ getMonthName(currentFilter.endMonth) }}</span>
        <button class="clear-filter-btn" (click)="clearFilter()" aria-label="Rensa filter">
          ×
        </button>
      </div>
    </div>
  </div>
</div>